body {
    background-image: linear-gradient(skyblue, pink);
    background-repeat: no-repeat;
    cursor: default;
}

header {
    /* background-color: palevioletred; */
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 50px 0;
    height: 100%;
}



.modal {
    background-color: rgba(245, 245, 220, 0.655);
    position:absolute;
    top: 20%;
    left: 20%;
    height: 200px;
    width: 350px;
    border-radius: 2.5px;
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    /* z-index: 10; */
    
    display: none;
}
.modal p {
    padding-top: 30px;
    font-size: 25px;
}

.btn-container-modal {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.btn-modal {
    height: 35px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

}

.game-btn {
    /* background-color: skyblue; */
    color: white;
    width: 60px;
    min-height: 50px;
    margin: 50px;
}

/* .game-btn:hover, .quit-button:hover {

} */

.gen-container {
    display: flex;
    padding-bottom: 30px;
    height: 100%;
}

.quit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    /* background-color: skyblue; */
    width: 100px;
    height: 35px;
    padding: 15px 15px 8px 15px;
    margin-left: 15px;
    outline: solid 2.5px;
    border-radius: 5px;
    visibility: hidden;
}

.btn-container {
    /* background-color: teal; */
    width: 15%;
    padding-left: 70px;
    padding-top: 25px;
    /* visibility: hidden; */
}

.quit-button:hover, .game-btn:hover {
    cursor: pointer;
}

.gameboard {
    width: 70%;
    min-height: 50px;
}

.scorecard {
    display: flex;
    }

.scorecard-container {
    min-height: 500px;
    width: 50%;
    text-align: center;
    font-size: 40px;
}

.scorecard-container h2 {
    padding-top: 150px;
}

.scorecard-container p {
    padding-top: 50px;
}

/* Tic Tac Toe Board */
#tic-tac-container {
    display: none;
    flex-wrap: wrap;
    height: 100%;
}

.tic-tac-box {
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    width: 30%;
    text-align: center;
    font-size: 100px;
    padding-top: 50px; 
}

.border-left-right {
    border-left: 2.5px solid white;
    border-right: 2.5px solid white;
}

.border-top-bottom {
    border-top: 2.5px solid white;
    border-bottom: 2.5px solid white;
}

/* Rock Paper Scissors Board */
#rock-paper-scissors-container {
    min-height: 100%;
    max-height: 100%;
    /* background-color: azure; */
    display: none;
    
    
}

.rock-paper-scissors-box {
    display: block;    
    justify-content: center;
    min-height: 100%;
    width: 50%;
    padding: 50px;
    /* background-color: rgba(0, 122, 128, 0.5); */
    text-align: center;
    font-size: 40px;
}

.rock-paper-scissors-box img {
    height: 55px;
    flex-grow: 7;
}

.rps-move {
    padding: 90px 0;
    height: 100px;
}

.rps-move img {
    height: 100px;
}

.options-box {
    
    justify-content: space-between;
    padding: 7px;

}

.options-box button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.rps-option img {
    height: 45px;

}