body {
    background-image: linear-gradient(skyblue, pink);
    background-repeat: no-repeat;
}

header {
    /* background-color: palevioletred; */
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 50px auto;
}

.game-btn {
    background-color: skyblue;
    width: 60px;
    min-height: 50px;
    margin: 50px;
}

.gen-container {
    display: flex;
    padding-bottom: 30px;
}


.btn-container {
    /* background-color: teal; */
    width: 15%;
    padding-left: 70px;
    padding-top: 0;
}

.gameboard {
    /* background-color: beige; */
    width: 70%;
    min-height: 50px;
}

.tic-tac-container {
    display: none;
    flex-wrap: wrap;
    height: 100%;
}

.tic-tac-box {
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: azure; */
    width: 33%;
    text-align: center;
    font-size: 140px;
}

.border-left-right {
    border-left: 2.5px solid black;
    border-right: 2.5px solid black;
}

.border-top-bottom {
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
}