body {
    background-image: linear-gradient(skyblue, pink);
    background-repeat: no-repeat;
    cursor: default;
}

header {
    /* background-color: palevioletred; */
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 50px 0;
    height: 100%;
}

.hidden {
    display: none;
    background-color: rbg(255, 255, 255, 0);
}

.modal {
    background-color: rgba(245, 245, 220, 0.655);
        /* background-color: coral; */
    position:absolute;
    top: 50%;
    left: 450px;
    height: 200px;
    width: 350px;
    border-radius: 2.5px;
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    z-index: 10;
}
.modal p {
    padding-top: 30px;
    font-size: 25px;
}

.btn-container-modal {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.btn-modal {
    height: 35px;
}

.game-btn {
    /* background-color: skyblue; */
    color: white;
    width: 60px;
    min-height: 50px;
    margin: 50px;
}

/* .game-btn:hover, .quit-button:hover {

} */

.gen-container {
    display: flex;
    padding-bottom: 30px;
    height: 100%;
}

.quit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    /* background-color: skyblue; */
    width: 100px;
    height: 35px;
    padding: 15px 15px 8px 15px;
    margin-left: 15px;
    outline: solid 2.5px;
    border-radius: 5px;
    visibility: hidden;
}

.btn-container {
    /* background-color: teal; */
    width: 15%;
    padding-left: 70px;
    padding-top: 25px;
    /* visibility: hidden; */
}

.quit-button:hover, .game-btn:hover {
    cursor: pointer;
}

.gameboard {
    /* background-color: beige; */
    width: 70%;
    min-height: 50px;
}

.scorecard {
    display: flex;
    }

.scorecard-container {
    min-height: 500px;
    width: 50%;
    /* background-color: sienna; */
    text-align: center;
    font-size: 40px;
}

.scorecard-container h2 {
    padding-top: 150px;
}

.scorecard-container p {
    padding-top: 50px;
}

/* Tic Tac Toe Board */
#tic-tac-container {
    display: none;
    flex-wrap: wrap;
    height: 100%;
}

.tic-tac-box {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: azure; */
    height: 150px;
    width: 30%;
    text-align: center;
    font-size: 100px;
    padding-top: 50px; 
}

.border-left-right {
    border-left: 2.5px solid white;
    border-right: 2.5px solid white;
}

.border-top-bottom {
    border-top: 2.5px solid white;
    border-bottom: 2.5px solid white;
}

/* Rock Paper Scissors Board */
#rock-paper-scissors-container {
    min-height: 100%;
    max-height: 100%;
    background-color: azure;
    display: none;
}

.rock-paper-scissors-box {
    min-height: 100%;
    width: 50%;
    background-color: green;
    text-align: center;
    font-size: 40px;      
}